/* App 전역 기본 스타일 (필요에 따라 커스터마이징) */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Nothing+You+Could+Do&family=Yeon+Sung&display=swap');

* {
  font-family: 'Yeon Sung', sans-serif;
}
body {
  margin: 0;
  /*background-color: #8eb695;*/
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  color: #333;
}

/* react-router-dom Link 등을 위한 a 태그 스타일 초기화 */
/*a {*/
/*  color: var(--primary-color) !important;*/
/*}*/

/* 페이지 전체 여백 */
div {
  box-sizing: border-box;
}
